* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../media/Desktop-SolarPanels.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-style: normal;  
}

header li {
    margin: 20px;
    font-size: 16px;
}

header img {
    width:  100px;
    height: 100px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

#Mission {
    position: absolute;
    margin-top: 125px;
    margin-left: 500px;
    text-align: center;
    opacity: 0.8;
}

#Mission h2 {
    font-size: 40px;
}

#Mission h3 {
    font-size: 20px;
}

#cars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.car {
    height: 100vh;
    width: 20vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    transition: width 0.5s;
}

.car:hover {
    width: 40vw;
    transition: width 0.5s;
}

.S {
    background-image: url(/ressources/media/ms-homepage-desktop.jpg);
}

.model3 {
    background-image: url(/ressources/media/Desktop-Model3.jpg);
}

.X {
    background-image: url(/ressources/media/mx-homepage-desktop.jpg);
}

.Y {
    background-image: url(/ressources/media/Desktop-ModelY.jpg);
}

.Cybertruck {
    background-image: url(/ressources/media/Cybertruck-Hero-Desktop.jpg);
}

.car h2 {
    margin-top: 550px;
    font-size: 30px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.car button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-radius: 20px;
    background-color: grey;
    font-size: 16px;
    transition: background-color 0.1s;
    opacity: 0.8;
}

.car button:hover {
    background-color: white;
    transition: background-color 0.1s;
}

#Team {
    background-image: url(/ressources/media/interior.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 80px;
}

#Team h2{
    font-size: 60px;
    margin-bottom: 120px;
    text-align: center;
}

.persons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.person {
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 10px;
}

.person img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}